#modal-thesis {
    .dialog-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .uploaded-file {
        display: flex;
        gap: 16px;
        align-items: center;
        font-family: "Recursive", sans-serif;

        .MuiSvgIcon-root {
            color: #d90d32;
            width: 36px;
            height: 36px;
        }
    }

    #dropzone {
        cursor: pointer;
        .dropzone-container {
            font-family: "Recursive", sans-serif;
            box-sizing: border-box;
            padding: 16px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            border: 2px dashed #ada6a6;
            border-radius: 15px;
        }
    }
}
